<!DOCTYPE html>
<html lang="en">
  <head>
    <% include includes/head %>
    <title>CadenceCoach</title>
  </head>
  <body>
    <% include includes/navbar %>

    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->
    <div class="container">
      <% include includes/header %>
      <div class="row-fluid pitch">
        <div class="span5 offset1 video">
          <img class="img-polaroid" src="https://sites.google.com/a/cadencecoach.me/static/home/ccappmock1-480x300.JPG">
        </div>

        <!-- We define a new 'actions' div to contain statistics, order, and share buttons.-->
        <div class="span5 actions">
          <div class="row-fluid">
          <div class="span8 offset2">
            <div class="row-fluid statistics">
              <div class="span4">
                <!-- linediv-l and linediv-r give dividing lines that look
                different in horizontal and vertical layouts, illustrating
                media queries. -->
                <div class="linediv-l">
                <h3><%= backers %></h3> <p>backers</p>
                </div>
              </div>
              <div class="span4">
                <div class="linediv-c">
                  <h3><%= amount %></h3> <p>of 50.000 BTC</p>
                </div>
              </div>
              <div class="span4">
                <div class="linediv-r">
                <h3><%= daysLeft %></h3> <p>days left</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row-fluid">
          <div class="span10 offset1">
            <!-- Bootstrap progress bar -->
            <!-- http://twitter.github.io/bootstrap/components.html#progress -->
            <div class="thermometer progress active">
              <div class="bar bar-success" style="width: <%= pctFunded %>%;"></div>
              <div class="bar bar-warning" style="width: <%= pctRemain %>%;"></div>
            </div>
          </div>
          </div>
          <div class="row-fluid">
          <div class="span6 offset3 order">
          <!-- Button to trigger modal -->
          <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Become a Backer</a>
           
          <!-- Modal -->
          <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Become a Backer</h3>
            </div>
            <div class="modal-body">
<div id="ccUser">
<p>Enter your name and email address, or just press "Continue"</p>
<form>
<div class="form-horizontal">
<input type="text" name="userName" title="Your Name"> </input><input type="text" name="userEmail" title="Your E-mail"></input>
<button class="btn btn-primary">Continue</button>
</div>
</form>
<script>
  $("#ccUser input").focus( function() {
    var value = $(this).val();
    if ( value === $(this).attr("title") ) {
      $(this).val("");
      $(this).removeClass('default');
    }
  });
  $("#ccUser input").blur( function() {
    var value = $(this).val();
    if ( value == "" ) {
      $(this).val( $(this).attr("title") );
      $(this).addClass('default');
    }
  });
  $("#ccUser input").blur();
  $("#ccUser form").on("submit", function(event) {
    event.preventDefault();

    var data = '{';
    var sep = '';
    $(this).find('input').each(function() {
      var key = $(this).attr('name');
      var val = $(this).val() == $(this).attr('title') ? '' : $(this).val();
      data += sep + '"' + key + '":"' + val + '"';
      sep = ",";
    });
    data += '}';

    var cbUrl = "https://coinbase.com/inline_payments/1726ef5f3a82dd1c03a9b7e9223c2fae?c=";
    cbUrl += encodeURIComponent(data);
    
    $("#cbPayment iframe").attr("src", cbUrl);
    $("#ccUser").hide();
    $("#cbPayment").show();
  });
</script>
</div>
<div id="cbPayment">
<iframe src="" style="background-image: url('http://www.picgifs.com/graphics/c/cycling/graphics-cycling-821835.gif'); background-repeat: no-repeat; background-position: 50% 50%; width: 500px; height: 160px; border: none; box-shadow: 0 1px 3px rgba(0,0,0,0.25); overflow: hidden;" scrolling="no" allowtransparency="true" frameborder="0"></iframe>
</div>
<!--p>
<a class="coinbase-button" data-code="7e17b85f3478619fe671ac319854be27" data-button-style="custom_large" data-custom="9876543210" href="https://coinbase.com/checkouts/7e17b85f3478619fe671ac319854be27" data-button-text="Pay With Bitcoin">Pay With Bitcoin</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
</p-->
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
          <script>
            $("#cbPayment").hide();
            $("#myModal").on("hidden", function() {
              $("#cbPayment").hide();
              $("#ccUser").show();
              $("#cbPayment iframe").attr("src", "");
            });
          </script>
          <!-- end Modal -->
	  </div>
          </div>
          <div class="row-fluid">
          <div class="span8 offset2 social">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
            </div>
	     <script type="text/javascript">var addthis_config = 
	      {"data_track_addressbar":true};</script>
	     <script type="text/javascript" 
 		     src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51e5f5d9549fdf9b"></script>
            <!-- AddThis Button END -->
          </div>
          </div>
        </div>
        </div>
      </div>

      <!-- Beyond this part the marketing copy begins. -->
      <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/text-align -->
      <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
      <!-- http://placehold.it -->
      <div class="row-fluid section1">
        <div class="span5 offset1 asset">
          <img class="img-polaroid" src="https://sites.google.com/a/cadencecoach.me/static/home/mountain_480x300.jpg">
        </div>
        <div class="span5 copy">
          <p>
If you enjoy cycling for recreation, transportation, fitness, or competition, you probably know that learning to maintain an optimum cadence can help you get more out of your rides. The CadenceCoach app will help you monitor your cadence during a ride, and let you review your performance afterward. Using it won't interfere with other apps you may already use for speed and distance, and it won't intrude on your music.
          </p>
        </div>
      </div>

      <div class="row-fluid section2">
        <div class="span5 offset1 copy copy-right">
          <p>
CadenceCoach works by using the accelerometers in your phone. Just start the app, put your phone in your pocket, and start riding. A brief low tone will sound if your cadence falls below your minimum setting, and a higher pitched tone lets you know you've exceeded your maximun setting. After your ride, you can review a graph of the recorded data.
          </p>
        </div>
        <div class="span5 asset">
          <img class="img-polaroid" src="https://sites.google.com/a/cadencecoach.me/static/home/city_480x300.jpg">
        </div>
      </div>

      <!-- For the FAQ, we introduce a little bit of JS, using the accordion. -->
      <!-- This brings in jquery.js and bootstrap.js as dependencies. -->
      <!-- http://twitter.github.io/bootstrap/javascript.html#collapse -->
      <div class="row-fluid faq">
          <div class="span10 offset1">
            <h3>FAQ</h3>
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseOne">
                    Why is cadence important to cyclists?
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                  <div class="accordion-inner">
                   Learning to maintain a uniform cadence can increase your efficiency so you ride longer with less fatigue. Training at different levels can help you improve. And targeting your optimum cadence can let you burn mostly fat, saving precious glycogen for when you really need maximum power.
                  </div>
                </div>
              </div>

              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseTwo">
                    What is cadence?
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                  Cadence is the rate at which you are pedaling, in rpm. 
                  </div>
                </div>
              </div>

              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseThree">
                    What is the status of this project?
                  </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                  The app is in planning at this time. Some testing has been done to collect accelerometer data and show feasibility. A search for other similar apps located many cycling apps, but none that track cadence without external sensors.
                  </div>
                </div>
              </div>

              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse"
                     data-parent="#accordion2" href="#collapseFour">
                    What do I get for backing this project?
                  </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                  <div class="accordion-inner">
                  Backing is crucial to the success of this project. Many hours of development and testing will be necessary. Support that effort, and you will be rewarded with progress updates, access to source code, and early versions of the app to use.
                  </div>
                </div>
              </div>

            </div>
          </div>

      </div>
<% include includes/footer %>
  </body>
</html>
